@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap');

html.dark {
  color-scheme: dark;
  body{
    @apply text-white bg-cover bg-[url('/images/background.jpg')];
    .navbar {
      @apply text-white;
      &_img {
        filter: invert(0);
      }
    }
  }
}

body {
  font-family: 'Raleway', sans-serif;
  @apply text-black bg-cover bg-[url('/images/backgroundWhite.png')];
  .navbar {
    &_img {
      filter: invert(1);
    }
  }
}

.page {
  @apply min-h-[calc(100vh-320px)];

  &-header {
    @apply text-xl font-semibold mb-4 border-b-2 md:text-[30px];
  }

  .listItem {
    @apply md:text-lg;
    &-Header {
      @apply mr-2 font-extrabold;
    }
  }
}

a {
  @apply inline-block;
}